
$pink: #eb9e9e;
$lightestred: #ff1010;
$lightestred_var: #ff2222;
$lighterred: #f85e3d;
$mediumred: #b70c0c;
$darkred: #922121;

$lightestgray: #dbdbdb;
$lightergray: #c5c5c5;
$lightgray: #bababa;
$mediumgray: #adadad;
$mediumdarkgray: #a3a3a3;
$darkgray: #878787;
$darkergray: #636363;

$whitish: #efefef;
$dark: #282828;
