
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  &.slim .modal-content {
    max-width: 400px;
  }

  &-content {
    position: relative;
    background-color: $whitish;
    color: black;
    margin: 100px auto;
    padding: 0;
    border: 1px solid $darkgray;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @media (max-width: 460px) {
      width: 90%;
    }
    @media (max-width: 360px) {
      width: 95%;
    }
  }

  &-header {
    padding: 2px 16px;
    background-color: $lightestred_var;
    color: white;
    min-height: 35px;
  }
  &-body {
    padding: 2px 16px;
    min-height: 60px;
  }
  &-footer {
    padding: 2px 16px;
    background-color: $lightestred_var;
    color: white;
  }

  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
      color: $dark;
      text-decoration: none;
      cursor: pointer;
    }
  }


  .card-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;

    &-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 300px;
      padding-bottom: calc( max( 65%, 300px ) );
      margin: 10px 0;
    }
  }

  .login-form {
    margin: 15px 0;
    text-align: center;

    input {
      margin: 3px 0;
      box-sizing: border-box;
    }
  }

  .camera * {
    width: 100%;
    height: auto;
    text-align: center;
  }
}