

#tab1 {
  font-size: 14px;
}

#tab6 p {
  margin: 0.5em 0;
}


ul.tab {
  list-style-type: none;
  margin: 0 6px;
  padding: 0;

  li {
    display: inline-block;
    
    font-size: 18px;
    margin: 4px 1.5px 0;

    &::after {
      content: '';
      position: absolute;
      left: 12px;
      right: 12px;
      height: 1.5px;
      background-color: $darkgray;
    }

    a {
      display: block;
      position: relative;

      padding: 12px 15px;
      background-color: $mediumgray;
      text-decoration: none;
      
      border-style: solid solid hidden solid;
      border-color: $darkgray;
      border-width: 2px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      &.selected {
        background-color: $mediumred;
        
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: $mediumred;
          background: linear-gradient($mediumred, $darkred);
          z-index: 1;
        }
      }

      &:not(.selected) {
        &:hover, &:focus {
          background-color: $darkgray;
        }
      }
    }
  }
}


#tab-body {
  border: 2px solid $darkgray;
  
  margin: 0;
  padding: 8px;
  padding-bottom: 16px;
  margin-top: -1px;
  
  position: relative;
  overflow: auto;
  
  background-color: $darkred;

  > div {
    animation: opac 0.5s;
    -webkit-animation: opac 0.5s;
    -moz-animation: opac 0.5s;
    -ms-animation: opac 0.5s;
    -o-animation: opac 0.5s;
    
    display: none;
    overflow: auto;

    > *:first-child {
      margin-top: 0;
      padding-top: 8px;
    }
  }


  .familie-count:hover {
    cursor: text;
  }

  .familie-data {
    font-size: 16px;
  }

  p.no-space + * {
    margin-top: -1em;
  }

  .info {
    span:empty {
      display: none;

      + br, + br + br {
        display: none;
      }
    }
  }

  .checkboxes .cols3 {
    margin-top: 0;
  }

  .err-box:not(:empty) {
    display: block;
    border: 2px solid $lightgray;
    background-color: $lightestred;
    padding: 2px 4px;
  }

  .warn-box:not(:empty) {
    display: block;
    border: 2px solid $lightgray;
    background-color: $darkerorange;
    padding: 2px 4px;
  }

  .count-manage {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .light {
    $size: 1.5em;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;

    &-red, &-orange, &-green {
      border: 1px solid $lightgray;
    }

    &-red {
      background-color: $lightestred;
    }
    &-orange {
      background-color: $darkerorange;
    }
    &-green {
      background-color: $green;
    }
  }

  table.logs {
    text-align: left;

    th, td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  #orte ul {
    height: auto;
    max-height: 450px;
  }
}


@media only screen and (min-width: 1160px) {
  #tabs {
    overflow: auto;
  }
  #tab-head {
    float: left;
    max-width: 30%;
    position: relative;
    z-index: 1;
  }
  ul.tab {
    margin: 0;

    li {
      margin: 0;
      width: 100%;

      &::after {
        display: none;
      }

      a {
        display: block;
        
        border-bottom-style: solid;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;

        &.selected {
          // border-right: 2px solid $mediumred;
          margin-right: -2px;
          border-right: hidden;

          &::after {
            right: -2px;
            left: unset;
            height: unset;
            top: 0;
            bottom: 0;
            width: 2px;
            background: linear-gradient(90deg, $mediumred, $darkred);
          }
        }
      }
    }
  }
}