
.w100pm400px {
  width: 100%;
  max-width: 400px;

  &-c > * {
    @extend .w100pm400px;
  }

  &-mw800 {
    @extend .w100pm400px;

    &-c > * {
      @extend .w100pm400px-mw800;
    }

    @media only screen and (max-width: 799px) {
      max-width: unset;
    }
  }
}

.w100p {
  width: 100%;
  
  &-c > * {
    @extend .w100p;
  }
}

.ml15px {
  margin-left: 15px;
}